html,
body {
  height: 100%;
}

body {
  @extend %rubik-400;
  font-size: 14px;
  line-height: 2.2;
  color: $text-color--grey;
  display: flex;
  flex-direction: column;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

img {
  object-fit: cover;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--large {
    max-width: 1800px;
  }
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 25px;
  color: $title--dark;
}