$white: #fff;
$blue-light: #436372;
$text-color--grey: #7b7b7b;
$title--grey: #414141;
$title--dark: #191919;
$button-text--grey: #8b8b8b;


$port-gore: #1f2044;
$mystic: #dae4e9;
$provincial-pink: #fef7f0;
$cello: #234969;
$casper: #a3bbc8;
$light-apricot: #fcd7b6;
$blue-dianne: #243f4d;
$westar: #e8e4df;
$spanish-white: #feefe2;
$edward: #b3b7b5;
$alabaster: #f8f8f8;
$mine-shaft: #262626;
$alto: #e0e0e0;
$ebony-clay: #222933;
$tundora: #4c4c4c;
$comet: #565872;
$wild-sand: #f6f6f6;
$nobel: #b3b3b3;
$concrete: #f2f2f2;
$gallery: #ebebeb;
$dove-gray: #666666;
$blue-bayouks: #436372;
$silver-chaise: #9e9e9e;
$mercury: #e5e5e5;
$dusty-gray: #999999;

%dmsans-400 {
  font-family: "DMSans", sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: "DMSans", sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
}

%rubik-300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}


%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

%poppins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

%user-icon {
  fill: $blue-dianne;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...){
  @return m#{a}x(#{$numbers});
}
@function min($numbers...){
  @return m#{i}n(#{$numbers});
}