$blue-light: #436372;
$text-color--grey: #7b7b7b;


$port-gore: #1f2044;
$provincial-pink: #fef7f0;
$cello: #234969;
$casper: #a3bbc8;

%dmsans-400 {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
}

%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}
%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}