$white: #fff;
$blue-light: #436372;
$text-color--grey: #7b7b7b;
$title--grey: #414141;
$title--dark: #191919;
$button-text--grey: #8b8b8b;


$port-gore: #1f2044;
$mystic: #dae4e9;
$provincial-pink: #fef7f0;
$cello: #234969;
$casper: #a3bbc8;
$light-apricot: #fcd7b6;
$blue-dianne: #243f4d;
$westar: #e8e4df;
$spanish-white: #feefe2;
$edward: #b3b7b5;

%dmsans-400 {
  font-family: "DMSans", sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: "DMSans", sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
}

%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%user-icon {
  fill: $blue-dianne;
}

@mixin btn {
  background-color: $casper;
  color: #fff;
  padding: 12px 15px;
  @extend %dmsans-400;
}

@mixin btn-cirkle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@mixin text-clamp($lines: 2, $line-height: false) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;

  @if $line-height {
    max-height: $line-height * $lines * 1px;
  }
}