.advantages {
  padding-bottom: 11vh;

  @include r(968){
    padding-bottom: 8vw;
  }

  &__content {
    display: flex;
    margin-bottom: 125px;

    @include r(1200) {
      flex-direction: column;
      margin-bottom: 8vw;
      align-items: center;
    }
  }

  &__image {
    width: 570px;
    height: 675px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 30px;
    @include r(1200){
      margin-right: 0;
    }
    @include r(968) {
      height: 95vw;
      width: 80vw;
    }

    @include r(767) {
      height: 95vw;
      width: 80vw;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 570px;
    padding-left: 18px;
  }

  &__experiense {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @include r(1200) {
      margin-bottom: 3vh;
      justify-content: center;
    }
  }

  &__num {
    @extend %rubik-700;
    font-size: 140px;
    line-height: 1;
    color: $casper;
    margin-right: 25px;

    @include r(440) {
      font-size: 120px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.9;
    color: $blue-dianne;
    max-width: 90px;
  }

  &__title {
    color: $blue-dianne;

    @include r(1200) {
      margin-bottom: 3vh;
    }

    @include r(767) {
      font-size: 26px;
    }
  }

  &__descr {
    font-size: 16px;
    color: $blue-dianne;
    padding-bottom: 60px;
    position: relative;

    @include r(1200) {
      padding-bottom: 8vh;
    }

    &::before {
      content: "";
      position: absolute;
      width: 500px;
      height: 3px;
      bottom: 0;
      background-color: $mystic;
    }
  }

  &__numbers {
    padding-top: 30px;

    @include r(767) {
      padding-top: 20px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-around;

    @include r(767) {
      justify-content: space-evenly;
    }
  }

  &__item {
    text-align: left;
    line-height: 1;
    @extend %dmsans-700;
    position: relative;

    &:not(:last-child)::after {
      content: " ";
      position: absolute;
      width: 1px;
      height: 80px;
      background-color: $mystic;
      top: -5px;
      right: -40%;

      @include r(767) {
        height: 60px;
      }

      @include r(440) {
        right: -25%;
      }
    }
  }

  &__number {
    display: block;
    font-size: 36px;
    color: $blue-dianne;
    margin-bottom: 12px;
    position: relative;

    @include r(767) {
      font-size: 22px;
    }

    &::before {
      content: " ";
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      left: -50px;
      top: 10px;

      @include r(767) {
        display: none;
      }
    }

    &--icon1 {
      &::before {
        background-image: url('../images/icons/advantages/icon1.svg');
        width: 36px;
        height: 38px;
      }
    }

    &--icon2 {
      &::before {
        background-image: url('../images/icons/advantages/icon2.svg');
        width: 43px;
        height: 39px;
      }
    }

    &--icon3 {
      &::before {
        background-image: url('../images/icons/advantages/icon3.svg');
        width: 42px;
        height: 40px;
      }
    }
  }

  &__name {
    font-size: 16px;
    color: $tundora;

    @include r(767) {
      font-size: 14px;
    }
  }

  @import './info';
}