.team {
  padding-bottom: 7vh;

  @include r(968) {
    padding-bottom: 8vw;
  }

  &__inner {
    display: flex;

    @include r(1200) {
      flex-direction: column;
    }
  }

  &__descr {
    max-width: 340px;
    text-align: left;
    margin-right: 60px;
    color: $blue-dianne;

    @include r(1200) {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 6vw;
    }
  }

  &__title {
    color: inherit;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 30px;
  }

  &__link {
    @include btn;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    @extend %poppins-600;
    transition: transform 0.3s;

    &:hover {
      transform: translateX(10px);
    }

    & svg {
      margin-left: 10px;
      fill: $white;
    }



    @include r(1200) {
      margin-bottom: 8vw;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include r(1200) {
      justify-content: space-around;
    }
  }

  &__item {
    margin-bottom: 100px;
    position: relative;
  }

  &__info {
    display: flex;
    align-items: center;
    position: absolute;
    height: 110px;
    width: 325px;
    padding: 0 20px;
    bottom: -60px;
    background-color: $white;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);

    @include r(440) {
      max-width: 280px;
    }
  }

  &__staff {
    width: 280px;
  }

  &__name {
    font-size: 22px;
    color: $blue-dianne;
    @extend %dmsans-700;
    width: 150px;

    @include r(440) {
      font-size: 16px;
    }
  }

  &__position {
    font-size: 16px;
    color: $comet;

    @include r(440) {
      font-size: 14px;
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;

    @include r(440) {
      margin-left: 20px;
    }
  }

  &__social-btn {
    width: 40px;
    height: 40px;
    font-size: 0;
    line-height: 0;
    background-color: $wild-sand;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-color,
    opacity 0.5s;

    &:hover,
    &:active{
      background-color: $casper;
      opacity: 0.5;
    }

    &--icon1 {
      background-image: url('../images/icons/advantages/team/icon1.svg');
    }

    &--icon2 {
      background-image: url('../images/icons/advantages/team/icon2.svg');
      margin-left: 7px;
    }
  }
}