.header {
  padding: 45px 0;

  @include r(1200) {
    .logo__img {
      width: 120px;
      height: 32px;
    }

    .menu {
      font-size: 12px;
      padding: 0 15px;
      margin-left: 0;

      &__item:not(:last-child) {
        padding-right: 2vw;
      }
    }

    .user-menu {
      &__btn {
        width: 40px;
        height: 40px;
      }

      &__icon {
        width: 15px;
        height: 15px;
      }

      &__num {
        width: 10px;
        height: 10px;
        top: 9px;
        right: 23px;
        line-height: 1.2;
      }
    }
  }

  @include r(768) {
    padding: 30px;
    .menu {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $light-apricot;
      text-align: center;
      height: 100%;
      padding: 0;
      transform: translateY(-150%);
      transition: transform 0.5s;

      &--active {
        transform: translateY(0%);
        z-index: 2;
      }

      &__item {
        padding: 6vw 3vw;
      }

      &__item:not(:last-child) {
        padding-right: 3vw;
      }

      &__link {
        display: block;
        font-size: 20px;

        & span {
          display: none;
        }
      }
    }
  }

  @include r (440) {
    padding: 20px 0;
    .user-menu {
      &__btn {
        width: 35px;
        height: 35px;
      }
    }
  }

  &__logo {
    transition: transform 0.3s;
    position: relative;
    z-index: 3;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  display: flex;
  margin-left: 8vw;

  &__item:not(:last-child) {
    padding-right: 35px;
  }

  &__link {
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    color: $blue-light;
    transition: opacity 0.3s;
    outline-color: $blue-dianne;
    @extend %rubik-500;

    &:hover {
      opacity: 0.8;
    }
  }
}

.user-menu {
  display: flex;
  justify-content: space-between;

  &__btn {
    @include btn-cirkle;
    width: 50px;
    height: 50px;
    outline-color: $blue-light;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover,
    &:active {
      opacity: 0.8;
    }

    &:focus {
      border: 1px solid $blue-dianne;
    }
  }

  &__icon {
    fill: $blue-dianne;
  }

  &--icon1 {
    width: 16px;
    height: 16px;
  }

  &--icon2 {
    width: 18px;
    height: 16px;
  }

  &--icon3 {
    width: 19px;
    height: 17px;
  }

  &--icon4 {
    width: 20px;
    height: 20px;
    fill: $white
  }

  &__search {
    margin-right: 1vw;
    background-color: $mystic;
  }

  &__preferences {
    display: flex;
    align-items: center;
    margin-right: 1vw;
  }

  &__liked,
  &__card {
    position: relative;
    width: 90px;
    height: 50px;
    background-color: $light-apricot;
    border-radius: 0;
    z-index: 1;
  }

  &__liked {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    &::after {
      content: "|";
      position: absolute;
      height: 32px;
      color: transparent;
      background-color: $white;
      opacity: 0.4;
      right: 0;
    }
  }


  &__card {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $white;
    top: 9px;
    right: 26px;
    color: $blue-dianne;
    text-align: center;
    font-size: 10px;
    line-height: 1.7;
    @extend %dmsans-400;
  }

  &__items {
    position: relative;
    background-color: $casper;
    border-radius: 50%;
    z-index: 3;
  }
}