.article {
  padding-bottom: 80px;

  &__inner,
  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__items{
    @include r(1200){
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  &__title {
    margin-bottom: 50px;
    @include r(440){
      font-size: 28px;
      max-width: 210px;
    }
  }

  &__btn {
    @extend %dmsans-700;
    font-size: 16px;
    color: $mine-shaft;
    padding-right: 25px;
    position: relative;
    transition: opacity 0.3s;

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/icons/arrow.svg');
      width: 6px;
      height: 11px;
      top: 12px;
      right: 0;
    }

    &:hover {
      opacity: 0.8;
    }
  }



  &__item {
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    max-width: 370px;
    transition: transform 0.3s;
    background-color: $white;
    border-radius: 5px;
    position: relative;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.2);
    }
    @include r(1200){
      margin-bottom: 30px;
    }
  }


  &__image {
    margin-bottom: 35px;
    @include r(968){
      max-height: 200px;
    }
  }
  &__img{
    @include r(968) {
      max-height: 200px;
    }
  }

  &__category {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2;
    position: absolute;
    @extend %poppins-700;
    color: $white;
    background-color: $casper;
    padding: 6px 30px;
    border-radius: 25px;
    top: 57%;
    left: 7%;
    @include r(968){
      top: 52%;
    }
  }

  &__descr {
    max-width: 310px;
    @extend %dmsans-700;
    color: $mine-shaft;
    font-size: 18px;
    line-height: 1.2;
    margin: 0 auto;
    text-align: left;
    height: 60px;
    @include text-clamp--large;
    padding-bottom: 7vh;
    border-bottom: 1px solid $alto;
    @include r(968){
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &__info {
    display: flex;
    padding: 18px 30px;
    font-size: 12px;
    text-transform: uppercase;
    color: $ebony-clay;
  }

  &__data,
  &__author {
    position: relative;
  }

  &__data {
    padding: 0 30px 0 20px;

    &::before {
      content: "";
      position: absolute;
      background-image: url('../images/icons/calendar.svg');
      width: 12px;
      height: 12px;
      left: 3px;
      top: 6px;
    }
  }

  &__author {
    padding-left: 15px;

    &::before {
      content: "";
      position: absolute;
      background-image: url('../images/icons/user.svg');
      width: 12px;
      height: 12px;
      left: 3px;
      top: 6px;
    }
  }
}