.design {
  padding-bottom: 120px;

  @include r(968) {
    padding-bottom: 80px;
  }

  @include r(767) {
    padding-bottom: 40px;
  }

  @include r(440) {
    padding-bottom: 20px;
  }

  &__inner {
    text-align: center;
  }

  &__title {
    @include r(440) {
      font-size: 30px;
      margin-bottom: 15px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 65px;

    @include r(767) {
      margin-bottom: 20px;
    }
  }

  &__button {
    &:not(:last-child) {
      margin-right: 30px;
    }
    @include r(440){
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &__btn {
    font-size: 16px;
    @extend %dmsans-700;
    color: $button-text--grey;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s;
    outline-color: $button-text--grey;

    &:hover,
    &.mixitup-control-active {
      color: $title--dark;
    }

    &:focus {
      border: 1px solid $blue-dianne;
    }

    &:active {
      opacity: 0.8;
    }
    @include r(440){
       font-size: 14px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 245px);
    grid-row-gap: 35px;
    grid-column-gap: 30px;

    @include r(968) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 245px);
    }

    @include r(767) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 245px);
      justify-items: center;
    }
  }

  &__item {
    background-color: $alabaster;
    padding: 40px 35px;
    position: relative;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.2);
    }

    @include r(1200) {
      padding: 25px 20px;
    }

    @include r(767) {
      width: 300px;
    }
  }

  &__text {
    z-index: 2;
    @extend %dmsans-700;
    max-width: 175px;
    line-height: 1;
    position: relative;
  }

  &__subtitle {
    font-size: 20px;
    color: $title--dark;
    margin-bottom: 20px;

    @include r(1200) {
      font-size: 18px;
    }
  }

  &__category {
    font-size: 16px;
    color: $casper;

    @include r(1200) {
      font-size: 14px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    &--pos {
      top: 15%;
      right: 10%;
    }
    @include r(440){
      padding: 0 5px;
    }
  }
}