.products {
  padding-bottom: 180px;

  &__inner {
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }

  &__button {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__btn {
    font-size: 16px;
    @extend %dmsans-700;
    color: $button-text--grey;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s;
    outline-color: $button-text--grey;

    &:hover,
    &.mixitup-control-active {
      color: $title--dark;
    }

    &:focus {
      border: 1px solid $blue-dianne;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 380px);
    grid-row-gap: 40px;
  }
}

.products-item {
  max-width: 270px;
  max-height: 380px;
  border-radius: 10px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  transition: transform 0.3s;

  &--icon1,
  &--icon2,
  &--icon3 {
    width: 20px;
    height: 20px;
    fill: $casper;
  }


  &:hover {
    transform: scale(1.1);

    .products-item__buttons {
      opacity: 1;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 35px 20px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 70%;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &__btn {
    @include btn-cirkle;
    padding: 12px;
    background-color: $white;
    outline-color: $casper;
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px 5px rgba(163, 187, 200, 0.4);

    &:hover {
      background-color: $casper;
      transform: scale(1.2);

      & svg {
        fill: #fff;
      }
    }

    &:focus {
      border: 1px solid $blue-dianne;
    }

    &:active {
      opacity: 0.8;
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-grow: 2;
    position: relative;
  }

  &__img {
    align-self: center;
    max-width: 200px;
    max-height: 220px;
  }

  &__title {
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 1.8;
    color: $blue-dianne;
    @include text-clamp;
  }

  &__price {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.5;
    color: $casper;
  }
}