.top-slider {
  padding-bottom: 70px;

  @include r(767) {
    padding-bottom: 20px;
  }

  &__inner {
    background-color: $light-apricot;
    background-size: cover;
    padding-bottom: 40px;

    @include r(767) {
      padding-bottom: 5px;
    }
  }

  &__content {
    padding-left: 5px;
  }

  &__item {
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
    padding: 11vw 20px;

    @include r(968) {
      padding: 4vw 20px;
    }

    @include r(767) {
      flex-direction: column;
      padding: 5px;
    }
  }

  &__box {
    max-width: 500px;
    margin-right: 30px;

    @include r(968) {
      margin-right: 0;
    }

    @include r(767) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__title {
    max-width: 500px;
    @extend %rubik-500;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 1;
    color: $blue-dianne;
    font-weight: bold;
    margin-bottom: 2vw;
    @include text-clamp--large;

    @include r(1200) {
      font-size: 60px;
    }

    @include r(968) {
      font-size: 50px;
    }

    @include r(767) {
      font-size: 30px;
    }

    @include r(440) {
      font-size: 32px;
      max-width: 300px;
    }
  }

  &__part {
    max-width: 370px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.7;
    color: $blue-light;
    margin-bottom: 2vw;
    @include text-clamp--large;

    @include r(968) {
      max-width: 300px;
      font-size: 16px;
    }

    @include r(767) {
      font-size: 14px;
      text-align: left;
    }

    @include r(440) {
      font-size: 12px;
      max-width: 240px;
    }
  }

  &__link {
    display: inline-block;
    @include btn;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1;
    padding: 23px 20px 23px 25px;
    outline-color: $blue-dianne;
    transition: transform 0.3s;

    &:hover {
      transform: translateX(10px);
    }

    & svg {
      margin-left: 6vh;
      fill: $white;
    }

    @include r(767) {
      font-size: 12px;
      padding: 10px;

      & svg {
        margin-left: 10px;
      }
    }
  }


  &__image {
    padding-top: 5em;
    position: relative;
    width: 640px;
    height: 264px;

    &::before {
      content: " ";
      position: absolute;
      border-radius: 50%;
      background-image: linear-gradient(-90deg, #fff, transparent);
      width: 33vw;
      height: 33vw;
      top: -6vw;
      right: -6vw;
      z-index: -1;
    }

    @include r(1200) {
      width: calc(640px - 15vw);
      height: calc(264px - 5vw);
      padding-right: 5px;

      &::before {
        display: none;
      }
    }

    @include r(767) {
      padding-top: 1em;
      padding-right: 0;
      width: 37vw;
      height: 112px;
      margin: 0 auto;
    }

    @include r(440) {
      width: 280px;
      height: 130px;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;

    li {
      &:not(:last-child) {
        margin-right: 10px;
      }

      button {
        font-size: 11px;
        font-weight: bold;
        line-height: 1;
        color: $blue-dianne;
        @extend %rubik-500;
        opacity: 0.3;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $white;
        border: none;
        cursor: pointer;
        outline-color: $white;
        transition: opacity 0.3s;

        &:hover {
          opacity: 1;
        }

        @include r(767) {
          width: 20px;
          height: 20px;
        }
      }

      &.slick-active {
        button {
          opacity: 1;
        }
      }
    }
  }
}

.benefits {
  background-color: $provincial-pink;
  padding: 33px 0;

  @include r(968) {
    padding: 20px 0;
  }

  @include r(440) {
    padding: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include r(968) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    justify-self: center;
    max-width: 215px;
    position: relative;

    &:not(:last-child)::after {
      content: "|";
      position: absolute;
      width: 1px;
      height: 169%;
      color: transparent;
      background-color: $westar;
      top: -34%;
      left: 21vw;
    }

    &::before {
      content: " ";
      position: absolute;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 50px;
      height: 54px;
      left: -30%;
      top: 10%;
    }

    @include r(968) {
      width: 215px;
      padding: 2vw 0;

      &:not(:last-child) {
        border-bottom: 1px solid $westar;
      }

      &:not(:last-child)::after {
        display: none;
      }
    }

    @include r(440) {
      &::before {
        display: none;
      }
    }
  }

  &__item--icon1 {
    max-width: 200px;

    &::before {
      background-image: url('../images/icons/support.svg');
    }

    @include r(968) {
      max-width: 215px;
    }
  }

  &__item--icon2 {
    &::before {
      background-image: url('../images/icons/delivery.svg');
    }
  }

  &__item--icon3 {
    &::before {
      background-image: url('../images/icons/payment.svg');
    }
  }

  &__title,
  &__text {
    text-align: left;
    @include text-clamp;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    color: $title--grey;
    position: relative;

    @include r(968) {
      font-size: 14px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.9;
    @extend %dmsans-400;

    @include r(440) {
      font-size: 12px;
    }
  }
}