.blog-page{
  &__inner{
    display: flex;
    justify-content: space-between;
    @include r(1200){
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}

.comments {
  margin-bottom: 55px;

  &__number,
  &__title {
    display: inline-block;
    @extend %rubik-700;
    font-size: 24px;
    color: $blue-bayouks;
    margin-bottom: 45px;
  }
}

.comment {
  display: flex;
  max-width: 830px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 30px;
  }

  &__box {
    border-bottom: 1px solid $alto;
    padding-bottom: 25px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    margin-bottom: 20px;
  }

  &__name {
    font-size: 16px;
    @extend %rubik-700;
  }

  &__date {
    color: $silver-chaise;
  }

  &__text {
    font-size: 16px;
    line-height: 1.9;
    color: $comet;
    margin-bottom: 10px;
  }

  &__link,
  &__name {
    color: $blue-bayouks;
  }

  &__link {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
    }
  }

  &__link-icon {
    align-self: center;
    margin-left: 5px;

    svg {
      fill: $blue-bayouks;
    }
  }

  &--ansver {
    max-width: 700px;
    margin-left: auto;
  }
}

.form {
  margin-bottom: 200px;

  &__title {
    font-size: 24px;
    line-height: 1.3;
    @extend %rubik-700;
    color: $blue-light;
    margin-bottom: 45px;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @include r(767){
      flex-direction: column;
    }
  }

  &__label {}

  &__input,
  &__textarea {
    width: 100%;
    border: 1px solid $mercury;
    padding: 5px 50px 5px 20px;
    outline-color: $casper;
    background-repeat: no-repeat;
    font-size: 16px;

    &::placeholder {
      font-size: 16px;
      color: $dusty-gray;
    }

    &:active,
    &:focus {
      outline-color: $casper;

      &::placeholder {
        color: $mine-shaft;
      }
    }
  }

  &__input {
    max-width: 400px;
    background-position: 96% center;

    @include r(767){
      max-width: 100%;
      margin-bottom: 15px;
      align-self: center;
    }

    &--icon1 {
      background-image: url('../../../images/icons/user-form.svg');
    }

    &--icon2 {
      background-image: url('../../../images/icons/user-mail.svg');
    }
  }

  &__textarea {
    min-height: 120px;
    resize: none;
    background-image: url('../../../images/icons/comment.svg');
    background-position: 98% 20px;
    margin-bottom: 30px;
  }

  &__btn {
    text-transform: uppercase;
    padding: 10px 42px;
    border: none;
    background-color: $casper;
    text-align: center;
    color: $white;
    cursor: pointer;
    transition: background-color 0.3s;
    outline-color: $casper;

    &:hover {
      background-color: $mystic;
    }

    &:active,
    &:focus {
      opacity: 0.8;
    }
  }
}