%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-arrow {
	@extend %svg-common;
	background-position: 91.92756292203806% 53.11406578026592%;
}

.svg-arrow-dims {
	width: 6.1px;
	height: 10.97px;
}

.svg-calendar {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-calendar-dims {
	width: 64px;
	height: 58.67px;
}

.svg-cross {
	@extend %svg-common;
	background-position: 42.95302013422819% 40.043956043956044%;
}

.svg-cross-dims {
	width: 20px;
	height: 20px;
}

.svg-delivery {
	@extend %svg-common;
	background-position: 55.53145336225597% 0;
}

.svg-delivery-dims {
	width: 53.75px;
	height: 36.44px;
}

.svg-link-arrow {
	@extend %svg-common;
	background-position: 95.06802721088435% 83.46078431372548%;
}

.svg-link-arrow-dims {
	width: 22px;
	height: 9px;
}

.svg-payment {
	@extend %svg-common;
	background-position: 0 99.86382978723404%;
}

.svg-payment-dims {
	width: 53.56px;
	height: 52.25px;
}

.svg-play {
	@extend %svg-common;
	background-position: 80.10204081632654% 98.98837209302326%;
}

.svg-play-dims {
	width: 22px;
	height: 25px;
}

.svg-support {
	@extend %svg-common;
	background-position: 99.68253968253968% 0;
}

.svg-support-dims {
	width: 50.875px;
	height: 53.13px;
}

.svg-user {
	@extend %svg-common;
	background-position: 85.94890510948905% 67.25316455696202%;
}

.svg-user-dims {
	width: 32px;
	height: 32px;
}

